<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div id="main">
      <div class="principal">
        <h1>VueJS</h1>
        <h3>Hola a la aplicacion {{ name_app }}</h3>
        <div>
          <form @submit.prevent="login" v-if="!isLogin">
            <fieldset class="cont">
              <label>Correo Electronico</label>
              <input
                type="email"
                v-model="email"
                placeholder="Correo Electronico"
              />
              <label>Contraseña</label>
              <input
                type="password"
                v-model="password"
                placeholder="Contraseña"
              />
              <button type="submit">Iniciar Sesion</button>
            </fieldset>
          </form>
        </div>
      </div>
      <h1 v-if="isLogin">Bienvenido Usuario</h1>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
      const { createApp, ref } = Vue;

      createApp({
        setup() {
          const name_app = ref("Mi primera app!");
          const email = ref("ruun_19@alu.uabcs.mx");
          const password = ref("1234567");
          const isLogin = ref(false);

          return {
            name_app,
            email,
            password,
            isLogin,
          };
        },
        methods: {
          login() {
            fetch("users.json")
              .then((response) => response.json())
              .then((users) => {
                users.forEach((e) => {
                  if (e.email == this.email) {
                    console.log("Correo exitoso");
                    if (e.password == this.password) {
                      console.log("Password exitosa");
                      this.isLogin = true;
                    }
                  }
                });
              });
          },
        },
      }).mount("#main");
    </script>
  </body>
</html>
