body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  display: inline-block;
}

.navbar .menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar .menu li {
  margin: 0 10px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.movie-details {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  max-width: 100%;
}

.movie-content {
  display: flex;
}

.movie-details img {
  max-width: 400px;
  border-radius: 8px;
  margin-right: 20px;
}

.movie-info {
  flex: 1;
}

.movie-details h1 {
  margin-bottom: 10px;
}

.movie-details p {
  margin: 5px 0;
}

.rating-section {
  margin-top: 20px;
}

.button-19 {
  appearance: button;
  background-color: #484848;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 10px 10px 10px 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #5c5c5c;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.button-19:active {
  border-width: 4px 0 0;
  background: none;
}
